<div class="container">
    <h1><i class="fa fa-star fa-sm" aria-hidden="true"></i> Admins</h1>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <h2>Information Admins</h2>
        </div>
        <div class="col-md-4 text-right">
        <a routerLink="/createnew" class="btn btn-primary rounded-pill"><i class="fa fa-plus-circle fa-sm"  aria-hidden="true"></i> Create New</a>
        </div>
    </div>
    <br>
    <form>
        <div class="row">
            <div class="col-md-8">
                <p>Show <input type="number" style="width: 60px; height: 30px;"> Entries</p>
            </div>
            <div class="col-md-4 text-right">
                <p>Search <input type="text" style="width: 200px; height: 35px;"></p>
            </div>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col"># <i class="fa fa-sort" aria-hidden="true"></i></th>
                        <th scope="col">Image <i class="fa fa-sort" aria-hidden="true"></i></th>
                        <th scope="col">First Name <i class="fa fa-sort" aria-hidden="true"></i></th>
                        <th scope="col">Last Name <i class="fa fa-sort" aria-hidden="true"></i></th>
                        <th scope="col">Email Address <i class="fa fa-sort" aria-hidden="true"></i></th>
                        <th scope="col">Contact <i class="fa fa-sort" aria-hidden="true"></i></th>
                        <th scope="col">Group <i class="fa fa-sort" aria-hidden="true"></i></th>
                        <th scope="col">Status <i class="fa fa-sort" aria-hidden="true"></i></th>
                        <th scope="col">Date <i class="fa fa-sort" aria-hidden="true"></i></th>
                        <th scope="col">Manage <i class="fa fa-sort" aria-hidden="true"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><img src="#" alt="Admin Image"></td>
                        <td>Doe</td>
                        <td>John</td>
                        <td>johndoegmail.com</td>
                        <td>7858596857</td>
                        <td>Admin Group</td>
                        <td>Manager</td>
                        <td>12/12/12</td>
                        <td>--</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>