<div class="container mt">
    <h1 style="color: rgb(0, 0, 159);"><i class="fa fa-text-height fa-sm" aria-hidden="true"></i> Create Group</h1>
    <hr style="background-color: rgb(0, 0, 159); height: 2px">
    <div class="row">
      <div class="col-md-8 col-12">
        <h2 style="color: rgb(0, 0, 159);">Enter Information</h2>
      </div>
      <div class="col-md-4 col-12 text-md-right text-right mt-3 mt-md-0">
          <a routerLink="/home/groupList"><button class="btn btn-primary rounded-pill"><i class="fa fa-arrow-left fa-sm" aria-hidden="true"></i> Back</button></a>
      </div>
    </div>
    <div class="card card-default">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <label>Group Name</label>
            <input class="form-control" type="text">
          </div>
          <div class="col-md-6">
            <label>Created Date</label>
            <input class="form-control" type="date">
          </div>
          <div class="col-md-12">
            <label>Description</label>
            <input class="form-control" type="text">
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Group Members</label>
              <div class="form-group">
                <select class="form-control select2" style="width: 100%;" >
                  <option selected="selected">---Groups---</option>
                  <option>Alaska</option>
                  <option>California</option>
                  <option>Delaware</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option>Washington</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label>&nbsp;</label>
            <input type="button" class="btn btn-primary form-control rounded-pill" value="Save">
          </div>
        </div>
      </div>
    </div>
  </div>